<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>

<!--Skeleton -->
<link rel="stylesheet" href="../static/Skeleton-2.0.4/css/normalize.css">
<link rel="stylesheet" href="../static/Skeleton-2.0.4/css/skeleton.css">

<!--Leaflet-->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet/css"/>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<style>#mapid { height: 180px; }</style>


</head>
<body>

<h1>Hello World</h1>
<p>This is a paragraph.</p>

<div id="mapid"></div>
<script>
//initialize map
var mymap = L.map('mapid').setView([51.505,-0.09],13);
//load tile layer
L.tileLayer(''https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'your.mapbox.project.id',
    accessToken: 'your.mapbox.public.access.token'
}).addTo(mymap);
</script>


</body>
</html>

